<section class="hero">
  <picture class="hero__bg">
    <source srcset="/src/images/hero/hero.webp" type="image/webp">
    <img loading="lazy" src="/src/images/hero/hero.jpg" alt="Фон баннера">
  </picture>
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        Превратите уездный город
        <span>в столицу</span>
        <span>земного шара</span>
      </h1>
      <p class="hero__text">Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам</p>
      <div class="hero__btns">
        <button class="btn --primary hero__btn" type="button">
          <span>Поддержать шахматную мысль</span>
        </button>
        <button class="btn --secondary hero__btn" type="button">
          <span>Подробнее о турнире</span>
        </button>
      </div>
    </div>
  </div>
</section>