<section class="info">
  <div class="container">
    <div class="info__row --1">
      <h3 class="info__title">
        Чтобы поддержать Международный васюкинский турнир посетите лекцию на тему: <span>«Плодотворная дебютная идея»</span>
      </h3>
      <picture class="info__img --1">
        <source srcset="/src/images/info/info-1.webp" type="image/webp">
        <img loading="lazy" src="/src/images/info/info-1.png" alt="Шахматисты">
      </picture>
    </div>
    <div class="info__row --2">
      <picture class="info__img --2">
        <source srcset="/src/images/info/info-2.webp" type="image/webp">
        <img loading="lazy" src="/src/images/info/info-2.jpg" alt="Шахматист поп-арт">
      </picture>
      <div class="info__col">
        <h3 class="info__title">
          и Сеанс <span>одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера
        </h3>
        <div class="info__table">
          <div class="info-table__row">
            <span class="info-table__cell">Место проведения:</span>
            <span class="info-table__cell">Клуб «Картонажник»</span>
          </div>
          <div class="info-table__row">
            <span class="info-table__cell">Дата и время мероприятия:</span>
            <span class="info-table__cell">22 июня 1927 г. в 18:00</span>
          </div>
          <div class="info-table__row">
            <span class="info-table__cell">Стоимость входных билетов:</span>
            <span class="info-table__cell">20 коп.</span>
          </div>
          <div class="info-table__row">
            <span class="info-table__cell">Плата за игру:</span>
            <span class="info-table__cell">50 коп.</span>
          </div>
          <div class="info-table__row">
            <span class="info-table__cell">Взнос на телеграммы:</span>
            <span class="info-table__cell"><span class="--crossed">100 руб.</span>21 руб. 16 коп.</span>
          </div>
        </div>
        <p class="info__hint">По всем вопросам обращаться в администрацию к К. Михельсону</p>
      </div>
    </div>
  </div>
</section>