<section class="participants">
  <div class="container">
    <div class="participants__top">
      <h2 class="participants__title">
        Участники турнира
      </h2>
      <div class="slider__btns">
        <button class="slider__btn --prev" type="button">
          <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.5382 30.4615L16.0767 21.9999L24.5382 13.5384" stroke="white" stroke-width="2" stroke-linecap="square"/>
          </svg>
        </button>
        <div class="slider__counter">
          <span>3</span>
          <span>/</span>
          <span>6</span>
        </div>
        <button class="slider__btn --next" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
            <path d="M19.4618 13.5384L27.9233 21.9999L19.4618 30.4615" stroke="white" stroke-width="2" stroke-linecap="square"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="participants__wrap">
      <ul class="participants__list">
        <li class="participants__item">
          <picture class="participants-item__img">
            <source srcset="/src/images/participants/participants.webp" type="image/webp">
            <img loading="lazy" src="/src/images/participants/participants.png" alt="Фото участника турнира">
          </picture>
          <p class="participants-item__name">Хозе-Рауль Капабланка</p>
          <p class="participants-item__position">Чемпион мира по шахматам</p>
          <button class="btn --tertiary participants-item__btn" type="button">
            Подробнее
          </button>
        </li>
        <li class="participants__item">
          <picture class="participants-item__img">
            <source srcset="/src/images/participants/participants.webp" type="image/webp">
            <img loading="lazy" src="/src/images/participants/participants.png" alt="Фото участника турнира">
          </picture>
          <p class="participants-item__name">Эммануил Ласкер</p>
          <p class="participants-item__position">Чемпион мира по шахматам</p>
          <button class="btn --tertiary participants-item__btn" type="button">
            Подробнее
          </button>
        </li>
        <li class="participants__item">
          <picture class="participants-item__img">
            <source srcset="/src/images/participants/participants.webp" type="image/webp">
            <img loading="lazy" src="/src/images/participants/participants.png" alt="Фото участника турнира">
          </picture>
          <p class="participants-item__name">Александр Алехин</p>
          <p class="participants-item__position">Чемпион мира по шахматам</p>
          <button class="btn --tertiary participants-item__btn" type="button">
            Подробнее
          </button>
        </li>
        <li class="participants__item">
          <picture class="participants-item__img">
            <source srcset="/src/images/participants/participants.webp" type="image/webp">
            <img loading="lazy" src="/src/images/participants/participants.png" alt="Фото участника турнира">
          </picture>
          <p class="participants-item__name">Арон Нимцович</p>
          <p class="participants-item__position">Чемпион мира по шахматам</p>
          <button class="btn --tertiary participants-item__btn" type="button">
            Подробнее
          </button>
        </li>
        <li class="participants__item">
          <picture class="participants-item__img">
            <source srcset="/src/images/participants/participants.webp" type="image/webp">
            <img loading="lazy" src="/src/images/participants/participants.png" alt="Фото участника турнира">
          </picture>
          <p class="participants-item__name">Рихард Рети</p>
          <p class="participants-item__position">Чемпион мира по шахматам</p>
          <button class="btn --tertiary participants-item__btn" type="button">
            Подробнее
          </button>
        </li>
        <li class="participants__item">
          <picture class="participants-item__img">
            <source srcset="/src/images/participants/participants.webp" type="image/webp">
            <img loading="lazy" src="/src/images/participants/participants.png" alt="Фото участника турнира">
          </picture>
          <p class="participants-item__name">Остап Бендер</p>
          <p class="participants-item__position">Гроссмейстер</p>
          <button class="btn --tertiary participants-item__btn" type="button">
            Подробнее
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>