<div class="running">
  <div class="running__content --1">
    <span>Дело помощи утопающим — дело рук самих утопающих!</span>
    <span>Шахматы двигают вперед не только культуру, но и экономику!</span>
    <span>Лед тронулся, господа присяжные заседатели!</span>
  </div>
  <div class="running__content --2">
    <span>Дело помощи утопающим — дело рук самих утопающих!</span>
    <span>Шахматы двигают вперед не только культуру, но и экономику!</span>
    <span>Лед тронулся, господа присяжные заседатели!</span>
  </div>
</div>