<section class="stages">
  <div class="container">
    <div class="stages__top">
      <h2 class="stages__title">
        Этапы преображения Васюков
      </h2>
      <span>Будущие источники обогащения васюкинцев</span>
    </div>
    <div class="stages__content">
      <ul class="stages__list">
        <li class="stages__item">Строительство железнодорожной магистрали Москва-Васюки</li>
        <li class="stages__item">Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов</li>
        <li class="stages__item">Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет</li>
        <li class="stages__item">Строительство дворца для турнира</li>
        <li class="stages__item">Размещение гаражей для гостевого автотранспорта</li>
        <li class="stages__item">Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов</li>
        <li class="stages__item">Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн</li>
      </ul>
      <picture class="stages__img">
        <source srcset="/src/images/stages/stages.webp" type="image/webp">
        <img loading="lazy" src="/src/images/stages/stages.png" alt="Самолет">
      </picture>
    </div>
  </div>
</section>