.hero {
  padding-top: 12.4rem;
  &__title {
    font-family: 'Merriweather', sans-serif;
    font-size: 6rem;
    line-height: 1.1;
    text-transform: uppercase;
    span {
      text-align: center;
    }
  }
}