:root {
  --text-primary: #313131;
  --white: #FFFFFF;
  --black: #1F1F1F;
  --accent: #F54932;
  --secondary: #FBCE51;
  --tertiary: #3057A2;

  --space-1: 0.4rem;
  --space-2: 0.8rem;
  --space-3: 1.2rem;
  --space-4: 1.6rem;
  --space-5: 2rem;
  --space-6: 2.4rem;
  --space-7: 2.8rem;
  --space-8: 3.2rem;
  --space-9: 4rem;
  --space-10: 4.4rem;
  --space-11: 4.8rem;
  --space-12: 5.6rem;
  --space-13: 6.4rem;
  --space-14: 7.2rem;
  --space-15: 8.0rem;
  --space-16: 9.6rem;
}